*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.card{
    background-color: burlywood;
    width: 200px;

}
.cards{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    flex-wrap: wrap;
}